@{
    ViewData["Title"] = "Acceso Denegado";
}
<div class="text-center mt-5">
    <h2 class="text-danger">Acceso Denegado</h2>
    <p class="lead">No tienes permiso para acceder a esta sección.</p>
    <a asp-action="Login" class="btn btn-outline-primary">Volver</a>
</div>
