@model proyectoFinal.ViewM.LoginUsuarioVM;

@{
    Layout = null;
}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Iniciar Sesion
                    </div>
                    <div class="card-body">
                        <form asp-controller="Login" asp-action="Login" method="post">
                            <div class="form-group">
                                <label asp-for="nombreUsuario"></label>
                                <input asp-for="nombreUsuario" class="form-control" />
                                <span asp-validation-for="nombreUsuario" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="password"></label>
                                <input asp-for="password" type="password" class="form-control" />
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">
                                    Iniciar Sesion
                                </button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            }
                        ¿No tienes una cuenta? <a asp-controller="Login" asp-action="Registrarse">Registrarse</a><br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>