@model List<proyectoFinal.Models.Producto>;
<div>
	<div class="col-sm-8 offset-sn-2">
        <h2>Lista Productos</h2>
        <a asp-controller="Producto" asp-action="Nuevo" class="btn btn-success mb-3">Nuevo</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdProducto</td>
                        <td>@item.nombreProducto</td>
                        <td>@item.descripcionProducto</td>
                        <td>@item.precioProducto</td
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
	</div>
</div>