@model proyectoFinal.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h2>Eliminar Cliente</h2>

<h3>¿Estás seguro que deseas eliminar este cliente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>
    </dl>

    <form asp-action="Eliminar">
        <input type="hidden" asp-for="idCliente" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Lista" class="btn btn-info">Cancelar</a>
    </form>
</div>